body  { font-family: "Helvetica Neue", Helvetica, Arial;color: #555; }
a { text-decoration: none;color:#FE7D2A; }
#blog { width: 520px;margin:0 auto; }
#post { text-align: justify;font-weight: 200; }
h2 { font-weight: 200; }
