body  { font-family: "Helvetica Neue", Helvetica, Arial;color: #555; }
a { text-decoration: none;color:#FE7D2A; }
#content { width: 520px;}
#sidebar { width: 200px;padding-left: 20px;}
#content, #sidebar { float:left; }
#blog { width: 740px;margin:0 auto; }
#post { font-weight: 200; }
h1 { font-weight: 100; }
h2 { font-weight: 200; }
