<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/prettify.js"></script>
    
    
  </head>
  <body onload="prettyPrint()">
    <div id="blog">
      <h1>Mathieu Fosse</h1>
      {{ content }}
    </div>
  </body>
</html>
