---
blog_title: Mathieu Fosse
---
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel= 'SHORTCUT ICON', href="/images/favicon.png">
    <link href="http://feeds.feedburner.com/mathieufosse" rel="alternate" title="Mathieu Fosse" type="application/atom+xml" />
    
  
    <title>{{ page.blog_title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
    <link href="/css/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/js/prettify.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
    
  </head>
  <body>
    <div id="blog">
      <h1><a href="/" title="Return on the HomePage">Mathieu Fosse</a></h1>
      <div id="container">
        {{ content }}
      </div>
      <div id="sidebar">
        <h3>About me</h3>
        <div id="aboutme">
          <p>I'm the CTO of <a href="http://www.tigerlilyapps.com">Tigerlily</a>.</p> 
          <p>I love the Web and more specifically Web
          development</p>
        </div>

        <h3>Follow me</h3>
        <ul id="links">
          <li class="facebook"><a href="http://www.facebook.com/mathieu.fosse">Facebook</a></li>
          <li class="twitter"><a href="http://www.twitter.com/pointcom">Twitter</a></li>
          <li class="github"><a href="http://www.github.com/pointcom">Github</a></li>
          <li class="flickr"><a href="http://www.flickr.com/pointcom">flickr</a></li>
        </ul>

        <a href="#">Contact me</a>

      </div>
    </div>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#appId=167403559982140&amp;xfbml=1"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </body>
</html>
