---
layout: default
---
<div id="post">
  <h2>{{ page.title }}</h2>
  <p class="date">{{ page.date | date_to_string }}</p>
  <div class="share">
    <fb:like layout="standard" show_faces="true" font="arial"></fb:like>
  </div>
  <div id="content">
    {{ content }}
  </div>
  <div class="share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="pointcom">Tweet</a>
  </div>
</div>
<div id="comments">
  <h2>Your comments</h2>
  <fb:comments href="http://blog.mathieufosse.com{{ page.url }}" num_posts="10" width="520"></fb:comments>
</div>
